body {
  background-color: rgb(171, 202, 171);
}


.div-hauptcontainer {
    margin: 0 0 0 10px;
    width:100%;
    float: left;
    }
    
    #div-container1 {
    float: both;
    margin-left: 0px;
    margin-top: 0px;
    }
    
    #div-container2 {
    float: both;
    margin-left: 0px;
    margin-top: 0px;
    }